body{
    margin: 0;
    padding: 0;
}
header{
    background-color: aqua;
    width: 100%;
    height: 720px;
    padding-top: 15px;
    background-image: url(../img/slidebg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    min-width: 1200px;
    max-width: 1400px;
    height: 125px;
    background-color: black;
    margin: 0 auto 0 auto;
}
nav #logo{
    margin: 23px;
    float: left;
}
nav #logo img{
   height: 75px; 
}
nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
nav ul li{
    color:white;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    list-style: none;
    
}
nav ul li a{
    padding: 55px 20px 55px 0;
    float: left;
}
nav #menu_principal{
    float: right;
}
#menu_principal li span{
    font-family: Montesserrat, sans-serif;
    font-size: 11px;
    color: rgb(134, 134, 134);
    margin-right: 3px;
    margin-top: 60px;
    float: left;
}

#menu_principal li a{
    color: white;
    font-size: 14px;
    text-transform: uppercase; /*transforma todos os textos em letra maiúscula*/
    text-decoration: none;
    transition: 1s;
}

#menu_principal li a:hover{
    color: #e7a520;
    transition: 1s;
}
.nome{
    background-image: url(../img/divider-dark.png);
    width: 100%;
    height: 500px;
    background-repeat: repeat-x;
    padding-top: 100px;
}
    .icons{
    
    height: 120px;
    width: 345px;
    margin: 0 auto;
    }
    .icons{
        display: flex;
        flex-direction: row;
    }
    .icons .icon img{
        width: 115px;
    }
    .txt{
  
    height: 100px;
    width: 100%;
    }

    .txt h6{
        font-size: 28px;
        font-weight: 300;
        width: 80%;
        display: inline-block;
        line-height: 40px;
        font-family: 'Roboto Slab', serif; /*MUDAR A FONTE DO GOOGLE FONTES*/
        color: black;
        text-align: center;
        margin: 0;
        margin-left: 95px;
        margin-top: 40px;

    }
    .txt{
        width: 850px;
        margin: 0 auto;
    }
    .trabalhos h4{ /*texto "nossos"*/
        font-size: 24px; /*24, 85, 20*/ /*tamanho da fonte*/
        font-weight: 300;
        font-family: Montesserrat, sans-serif;
        text-align: center; /*alinhar no centro*/
        margin: 0;
        color: #e7a520;
        letter-spacing: 11px;
    }
    .trabalhos h1{ /*texto "projetos"*/
        font-size: 85px; /*tamanho da fonte*/
        font-weight: 700;
        font-family: Montesserrat, sans-serif;
        text-align: center; /*alinhar no centro*/
        margin: 0;
    }
    .trabalhos img{ /*foto da ondinha preta em baixo do titulo*/
        margin: 0;
        margin-left: 920px;

    }
    .trabalhos h5{ /*texto "Concebemos ideias e concretizamos sonhos."*/
        font-size: 20px; /*tamanho da fonte*/
        font-weight: 250;
        font-family: Montesserrat, sans-serif;
        text-align: center; /*alinhar no centro*/
        margin: 0;
    }
/*----------------------------------------TRABALHOS----------------------------------------*/
#TRABALHOS{
    background-color: blue;
}
